th{
  color: white;
  background-color: #871a1a;
  text-align: left;

}
td, th{
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 5px;
}
@media only screen and (max-width: 768px){
  table{
    width: 70%;
    margin-left:15%;
    margin-right: 20%;
  }

  td, th{
    font-size: 9px;
    padding: 3px;
  }
}
